body {
    margin: 0;
    padding: 0;
}

.room-selector {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
}

.room-info {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 10px; /* Add padding to the right to prevent overlapping with the image */
}

.room-info h2 {
    margin-bottom: 10px;
}

.room-img {
    flex: 0.5; /* Reduce the flex value to give less space to the image */
    display: flex;
    justify-content: flex-end; /* Shift the image to the right */
    align-items: center;
    padding-right: 10px; /* Add some spacing between the image and select button */
}

.room-img img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border: 3px solid #F2F3EB;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.room-img img:hover {
    transform: scale(1.05);
}

.room-select {
    flex: 0.3; /* Reduce the flex value to give less space to the select button */
    text-align: center;
    display: flex; /* Use flex to center the button horizontally and vertically */
    justify-content: center;
    align-items: center;
}

.room-btn {
    width: 24px; /* Set a fixed width and height to create a circular shape */
    height: 24px;
    padding: 0; /* Remove padding to eliminate extra spacing */
    border-radius: 50%; /* Make it circular by setting border-radius to 50% */
    background-color: #00c26b; /* Background color for the circular button */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
    display: flex; /* Center the content horizontally and vertically */
    justify-content: center;
    border: 0;
    align-items: center;
}

.room-btn.selected-button::before {
    content: ''; /* Add empty content to create the dot appearance */
    display: block;
    width: 12px; /* Adjust the dot size as needed */
    height: 12px;
    background-color: #fff; /* Dot color */
    border-radius: 50%; /* Make the dot circular */
}

.room-btn:hover {
    background-color: #009655; /* Button background color on hover */
}



.amenities-list {
    padding: 0; /* Remove default padding */
    display: flex; /* Display items in a row */
    flex-wrap: wrap; /* Wrap items to the next line if needed */
    list-style-position: inside; /* Keep the bullet points inside the list items */
}

.amenities-list li {
    font-size: 14px; /* Adjust the font size as needed */
    margin-right: 5px; /* Decrease the spacing between list items */
}

.hidden{
    display: none;
}

.toggle-amenities-btn {
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Text color */
    padding: 8px 16px; /* Padding around the text */
    border: none; /* Remove border */
    cursor: pointer; /* Add a pointer cursor */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth color transition */
}

.toggle-amenities-btn:hover {
    background-color: #0056b3; /* Button background color on hover */
}

/* for the user details */
/* Style the user information form */
.user-info {
    background-color: transparent; /* Set background color to transparent */
    padding: 20px;
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
    text-align: left;
    border: none; /* Remove border */
    box-shadow: none; /* Remove box shadow */
}

.user-info h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.user-info label {
    font-size: 14px;
    color: #666;
    display: block;
    margin-bottom: 5px;
}

/* Different background colors for input fields */
.user-info input[type="text"],
.user-info input[type="number"],
.user-info input[type="tel"],
.user-info input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none; /* Remove border */
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7; /* Background color for input fields */
}

.user-info input[type="text"]:focus,
.user-info input[type="number"]:focus,
.user-info input[type="tel"]:focus,
.user-info input[type="email"]:focus {
    border-color: #007bff;
}

.user-info input[type="submit"] {
    background-color: #00ff84;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-info input[type="submit"]:hover {
    background-color: #00c26b;
}

.selected-button {
    background-color: #00c26b; /* New background color when selected */
    color: #fff; /* Text color */
}
